body		{ margin:0px; background-color: #F5F5F5}
body, td	{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 80%;  color: black; }
.menu_items a		{ color: black;}
.menu_items a:hover	{ color: #496E91;}
h1		{color: #496E91; font-size:12px}
hr		{color: #496E91; height:1px}
a			{ color: #496E91; text-decoration: none; }
a:hover		{ color: black;	text-decoration: underline; }

image		{ border: 0px; }
input		{ border: 1px solid #CCCCCC; vertical-align: middle; padding: 5px; }


.languages	{ color: #496E91; padding:5px 40px; font-size: 10px; text-align:right}
.languages .current	{ background-color: #496E91; color: white; padding:10px; font-weight:bold}

.header { background-color: #496E91; background-image:url(images/bg_header.jpg); background-repeat:no-repeat; height:95px; color: white}
.logo { text-align:right; vertical-align:middle;}
.slogan { padding: 20px 0px 0px 5px; font-size: 12px; color:#B6C5D3}
.phones { padding-left: 10px; vertical-align:middle; font-size: 10px; color:#B6C5D3}
.phones a{ color: white; text-decoration:underline}
.phones a:hover{color: #B6C5D3}

.menu		{ background-color: white; padding:5px 0px 0px 5px;}
.menu_title	{ padding-left:5px}
.menu_items	{ padding: 0px 10px 15px 20px; line-height:16px; vertical-align:top; font-size: 12px; white-space:nowrap}

.divider	{ background-image:url(images/vline.gif); background-repeat:repeat-y; padding:2px;}

.content {padding: 10px; padding-right: 15px; vertical-align:top; text-align:justify}
.title	{padding-right: 15px; vertical-align:top; text-align:right};
.news { text-align:right; padding-right:20px}
.last_works	td{ text-align: center; padding:10px;}

.counter	{ font-size:10px; text-align:center}
.copyright { background-color: #496E91; background-image:url(images/bg_header.jpg); 
			 background-repeat:no-repeat; height:30px; color: white; text-align:center; padding-top: 10px;
			 font-size:10px;}
